# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. dplyr
2. pandas
3. Numpy
4. Scikit - learn
5. Keras
6. Seaborn
7. Matplotlib

|Data Science Tools|
--------------------
|Python|
|R|
|MySQL|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
List popular languages for Data Science
* R 
* Python
* Julia
* Scala
* Java
* SQL

## Author
Andres Felipe Segura Buendia